html {

    min-height: 100%;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%, #a9c9ff 0%, #ffbbec 100%);

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
    margin: 5px 0 5px 0;

}


.parent, .flex-wrapper, .card, .car, .flex-gap-10, .flex-gap-20, .cars_wrapper {
    display: flex;
}

.parent, .card, .car, .flex-column, .cars_wrapper {
    flex-direction: column;
}

.parent, .justify-center, .car_container, .car {
    justify-content: center
}

.flex-gap-10 p, .box-shadow, .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.text-center, .flex-gap-20 p, .child {
    text-align: center;
}


.parent, .flex-wrapper, .card, .car, .cars_wrapper, .align-items-center {
    align-items: center;
}


.with-border {
    margin: 50px auto;
    border: 1px solid black;

}

.child {
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
}


.flex-wrapper {
    gap: 20px;
    padding: 20px;
    align-content: center;
}

.width-center {
    margin: 0 auto;
    width: 400px
}

.cars_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px 30px;
}

.car_container, .cars_wrapper, .flex-gap-10 {
    gap: 10px;
}

.car_container {
    margin: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto auto;
}


.card {
    width: 320px;
    height: 400px;
    font-size: 1.3rem;
    word-wrap: normal;
}

.car {
    margin: 10px;
}

.car input {
    margin-top: 10px;
}


.car button {
    margin: 10px 0 0 0;
    width: 130px;
}

.pay-load {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card_button {
    margin: 0 auto;
}

.block_margin_bottom {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}


.flex-gap-20 {
    gap: 20px
}

.flex-gap-20 p {
    margin-bottom: 20px;
}

.hide_text {
    color: white;
}

.hide_text:hover {
    color: black;
}

.items-end {
    align-items: end;
}

.min-width-1200 {
    min-width: 1200px;
}

.min-width-500 {
    min-width: 500px;
}

.margin-top {
    margin-top: 20px;
}

.w-300 {
    width: 300px;
}