body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
    margin: 5px 0 5px 0;

}

.btn {
    color: #e5dc15;
    background: #0e79b2;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid #e5dc15;
    border-radius: 0.5rem;
    position: relative;
    top: 0;
    transition: all 300ms ease-in-out;
    box-shadow: 0 0.6em #c2bb11, 0 0.9em rgba(0, 0, 0, 0.4);

}

.btn:hover {
    background: #e5dc15;
    color: #0e79b2;

}

.btn.b-1:hover {
    top: 0.2em;
    box-shadow: 0 0.4em #c2bb11, 0 0.7em rgba(0, 0, 0, 0.4);

}

.btn.b-1:active {
    top: 0.4em;
    box-shadow: 0 0.2em #c2bb11, 0 0.5em rgba(0, 0, 0, 0.4);

}

.parent, .flex-wrapper, .card, .car, .flex-gap-10, .flex-gap-20, .cars_wrapper {
    display: flex;
}

.parent, .card, .car, .flex-column, .cars_wrapper {
    flex-direction: column;
}

.parent, .justify-center, .car_container, .car {
    justify-content: center
}

.flex-gap-10 p, .box-shadow, .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.text-center, .flex-gap-20 p, .child {
    text-align: center;
}


.parent, .flex-wrapper, .card, .car, .cars_wrapper, .align-items-center {
    align-items: center;
}

.full_content {
    height: 100vh;
}

.with-border {
    margin: 50px auto;
    border: 1px solid black;

}

.child {
    border: 1px solid black;
    margin: 40px;
    padding: 20px;
}


.flex-wrapper {
    gap: 20px;
    padding: 20px;
    align-content: center;
}

.width-center {
    margin: 0 auto;
    width: 400px
}

.cars_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px 30px;
}

.car_container, .cars_wrapper, .flex-gap-10 {
    gap: 10px;
}

.car_container {
    margin: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 200px 200px;
}


.card {
    width: 320px;
    height: 400px;
    font-size: 1.3rem;
    word-wrap: normal;
}

.car {
    margin: 10px;
}

.car input {
    margin-top: 10px;
}


.car button {
    margin: 10px 0 0 0;
    width: 130px;
}

.pay-load {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card_button {
    margin: 0 auto;
}

.block_margin_bottom {
    margin-bottom: 30px;
}


.flex-gap-20 {
    gap: 20px
}

.flex-gap-20 p {
    margin-bottom: 20px;
}

.hide_text {
    color: white;
}

.hide_text:hover {
    color: black;
}

.items-end {
    align-items: end;
}

.min-width-1200 {
    min-width: 1200px;
}

.min-width-500 {
    min-width: 500px;
}

.margin-top {
    margin-top: 20px;
}
