body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
    margin: 5px 0 5px 0;

}

.btn {
    color: #e5dc15;
    background: #0e79b2;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid #e5dc15;
    border-radius: 0.5rem;
    position: relative;
    top: 0;
    transition: all 300ms ease-in-out;
    box-shadow: 0 0.6em #c2bb11, 0 0.9em rgba(0, 0, 0, 0.4);
}

.btn:hover {
    background: #e5dc15;
    color: #0e79b2;
}

.btn.b-1:hover {
    top: 0.2em;
    box-shadow: 0 0.4em #c2bb11, 0 0.7em rgba(0, 0, 0, 0.4);
}

.btn.b-1:active {
    top: 0.4em;
    box-shadow: 0 0.2em #c2bb11, 0 0.5em rgba(0, 0, 0, 0.4);
}


.parent {
    text-align: center;
    margin: 0 auto;
    transition: all 1s ease-in-out;
    border: 1px solid red;
    padding: 20px;
}

.border1 {
    border: 1px solid white;
    transition: all 1s ease-in-out;
}

.hi_load_wrapper {
    display: flex;
    justify-content: space-around;
}

.width-center {
    margin: 0 auto;
    width: 400px
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.car {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.cars_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.car button {
    margin: 10px 0 0 0;
    width: 130px;
}
